#wrap
{
    width: 30%;
    margin: 0 auto;
    display: table;
    color: black;
}
fieldset {
    background-color: transparent;
    border-color: blueviolet;
    border-width: 5px;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}
.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.button:hover
{
    background-color: #3e8e41
}

.button:active 
{
  background-color: #3e8e41;
  box-shadow: 0px 3px grey;
  transform: translateY(4px);
}

.button_main
{
    text-align: center;
}
body
{
    background: url(tenor.gif);
    background-size: cover;
}